{% import 'macros/form.twig' as form %}

<nav class="navbar navbar-expand-lg sticky-top flex-column flex-lg-row navbar-light bg-white border border-top-0 border-left-0 border-right-0">

    <a class="navbar-brand" href="/">
        <img src="/img/logo-nav.png" id="nav-logo" class="mx-3 d-inline-block align-top" alt="Odborná škola výroby a služeb, Plzeň, Vejprnická 56">
    </a>

    <div class="navbar-nav flex-row">
        <a class="nav-item active nav-link px-2 px-sm-3" href="/">{{ _text('app.menu.home')|capitalize }}</a>
        {% if _user.canManageUsers(_auth.user().username) %}
            <a class="nav-item nav-link px-2 px-sm-3" href="/users">{{ _text('app.menu.users')|capitalize }}</a>
        {% endif %}
        <a class="nav-item nav-link px-2 px-sm-3" href="/documents">{{ _text('app.menu.documents')|capitalize }}</a>
        <a class="nav-item nav-link px-2 px-sm-3" href="/requests">{{ _text('app.menu.requests')|capitalize }}</a>
    </div>

    <div class="navbar-nav ml-lg-auto d-none d-lg-block">
        <div class="nav-item dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                {{ _auth.user().username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/user/settings">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    {{ _text('app.menu.settings')|capitalize }}
                </a>
                <div class="dropdown-divider"></div>
                <form id="logout-form" action="/logout" method="post" data-method="post">
                    {{ form.csrf() }}
                    <button type="submit" class="dropdown-item" href="/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        {{ _text('app.auth.logout')|capitalize }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <button class="btn btn-outline-primary dropdown-toggle d-lg-none my-3" type="button" data-toggle="collapse" data-target="#nav-user-menu" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        {{ _auth.user().username }}
    </button>

    <div class="collapse w-100 d-lg-none" id="nav-user-menu">
        <a class="dropdown-item" href="/settings">
                <i class="fa fa-cog" aria-hidden="true"></i>
                {{ _text('app.menu.settings')|capitalize }}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            {{ _text('app.auth.logout')|capitalize }}
        </a>
    </div>
</nav>