{% extends "layouts/app.twig" %}

{% import "macros/form.twig" as form %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 ">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid p-5" src="/img/logo-vertical.png" alt="logo" title="logo">
                </div>

                <form id="change-password-form" class="col-12" action="/user/change-password" data-method="put">
                    <h2 class="font-weight-light">{{ _text('app.user.change_password.action') }}</h2>

                    {{ form.csrf() }}

                    <input type="hidden" name="token" value="{{ token }}" required>

                    <div class="form-group">
                        <input class="form-control" type="text" id="input-password-name" name="username" value="{{ username }}" required readonly>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="input-password" name="password" placeholder="{{ _text('fields.new_password')|capitalize }}" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="input-password-again" placeholder="{{ _text('fields.new_password_again')|capitalize }}" required>
                    </div>

                    <div id="change-password-message-box">
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">{{ _text('app.save')|capitalize }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/change-password.js"></script>
{% endblock %}