{% extends "layouts/base.twig" %}
{% import "macros/form.twig" as form %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 ">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid p-5" src="/img/logo-vertical.png" alt="logo" title="logo">
                    </div>

                    <form class="col-12" action="/login" method="post">
                        <h1 class="text-center font-weight-light">Změna hesla</h1>

                        {{ form.csrf() }}

                        <input type="hidden" name="token" value="{{ token }}" required>

                        <div class="form-group">
                            <input class="form-control" type="text" name="username" value="{{ username }}" required disabled>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="{{ _text('fields.password')|capitalize }}" required>
                        </div>

                        {% if errors.username is defined %}
                            {% for error in errors.username %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {% if errors.password is defined %}
                            {% for error in errors.password %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">{{ _text('app.save')|capitalize }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}