{% extends "layouts/base.twig" %}
{% import "macros/form.twig" as form %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 ">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid p-5" src="/img/logo-vertical.png" alt="logo" title="logo">
                    </div>

                    <form class="col-12" id="login-form" action="/login" method="post" data-method="post">
                        {{ form.csrf() }}

                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="{{ _text('fields.username')|capitalize }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="{{ _text('fields.password')|capitalize }}" required>
                        </div>

                        <div id="login-form-message-box">

                        </div>

                        <div class="form-row">
                            <div class="form-check col m-auto">
                                <label class="form-check-label" for="remember">
                                    <input class="form-check-input" type="checkbox" name="remember">
                                    {{ _text('app.auth.remember')|capitalize }}
                                </label>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary">{{ _text('app.auth.login')|capitalize }}</button>
                            </div>
                        </div>

                        <div class="pt-2 text-center">
                            <a href="#" data-toggle="modal" data-target="#forgotten-password-modal">{{ _text('app.auth.password.forgotten') }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotten-password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _text('app.auth.password.forgotten_title') }}</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>
                        {{ _text('app.auth.password.forgotten_text') }}
                    </p>

                    <form id="forgotten-password-form" action="/user/send-change-password-email" data-method="post">
                        {{ form.csrf() }}
                        <div class="form-group">
                            <label for="input-email">{{ _text('fields.email')|capitalize }}</label>
                            <input type="text" class="form-control" id="input-email" name="email">
                        </div>
                    </form>

                    <div id="forgotten-password-message-box"></div>
                </div>
                <div class="modal-footer">
                    <p class="text-secondary">
                        {{ _text('app.auth.password.forgotten_spam_text') }}
                    </p>
                    <button id="forgotten-password-submit" class="btn btn-primary">{{ _text('app.send')|capitalize }}</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>

{% endblock %}